body {
    background: #fe7;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 10vh;
    background: #ba2211;
    color: white;
}

footer a {
    color: #ff0;
}

footer a:hover {
    color: #0ff;
}

header {
    position: absolute;
    width: 90vw;
    top: 0;
    padding: 5vw;
}


.tape {
    position: absolute;
    left: 0;
    color: white;
}

.tape div.punchline {
  width: 80vw;
}

.tape div.logo {
  width: 20vw;
  height: 100%;
}

.tape div.logo a {
    width: 100%;
    height: 100%;
}
