
.logo{
    margin: 0 0 5vh 0;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 5vh;
    background: #ba2211;
    color: white;
    font-size: 80%;
}

footer a {
    color: #ff0;
}

footer a:hover {
    color: #0ff;
}

