body {
    background: #fe7;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 10vh;
    background: #ba2211;
    color: white;
}

footer a {
    color: #ff0;
}

header {
    position: absolute;
    width: 90vw;
    top: 0;
    padding: 5vw;
}
