#footer {
    position : absolute;
    bottom : 0;
    height : 20px;
    margin-top : 20px;
    text-align: center;
    font-size: 16px;
  }
</style>
<div id="footer">Copyright © 2016 Askmonk by Hogan Tech Labs Pvt Ltd, All rights reserved.</div>